# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
ubitrail

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz

#dep
*.d
*.pdf
*.avi
*.out
*~
#data file
data/
html/
latex/
*.layout
*.layout.cbTemp

